/*CSS GOES HEEERREE*/

@font-face {
  font-family: Futurama;
  src: url(futurama.ttf);
}

.container {
margin: 20px auto;
width: 600px;
padding: 0px 20px 20px 20px;
border: 1px dotted black;
font-family: cursive;
}
th {
text-align: left;
}

a{
  font-family: cursive;
  text-decoration: none;
}
